* {
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  height: 100vh;
  background-color: black;
}

h1 {
  color: white;
  margin-bottom: 4rem;
  padding-top: 2rem;
}

p {
  color: white;
  opacity: 0;
  width: 50%;
  margin: 0 auto 2rem;
}

#button {
  padding: 1rem 2rem;
  border-radius: 10%;
  background-color: rgb(98, 19, 5);
  opacity: 0;
}

a {
  text-decoration: none;
  color: white;
}
