/* Page Aikido*/
 
#aikido .subsection {
  display: flex;
  justify-content: space-around;
}

#aikido .title {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#aikido article {
  width: 60%;
  min-height: 80%;
  margin: 3rem 6rem;
}

@media only screen and (max-width:700px) {
 #aikido article {
   width: 100%;
   margin: 3rem 2rem;
 } 
}

#aikido article .content {
   text-align: justify;
   padding-left: 2rem;
}

#aikido aside {
  display: flex;
  width: 40%;
  height:40%;
  margin-right: 3rem;
  align-self: center;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 4rem;
  background-color: rgba(0,0,0,0.7);
}

#aikido blockquote {
 padding-right: 1rem;
 padding-left: 1rem;
 color: white;
}

#img-accueil {
  margin-top: 4rem;
  height: 16rem;
  width: auto;
  border: 2px solid rgb(80, 52, 52);
  border-radius: 2rem;
}

#fondateur img {
  border: 2px solid white;
  border-radius: 25%;
  width: 7rem;
  margin-left: 1rem;
}

#fondateur blockquote {
  font-family: 'Indie Flower', cursive;
}

#fondateur figcaption {
  padding-top: 1rem;
  color: white;
}

#objectifs {
  flex-direction: row-reverse;
}

#objectifs aside {
  margin-left: 4rem;
}

#objectifs embed {
  height: 9em;
}

#objectif blockquote {
  font-size: 0.8rem;
}

#photo-page-aikido {
  width: 10rem;
  height: auto;
  align-self: center;
}

@media only screen and (max-width: 700px) {
  #aikido aside, #infos aside {
    display: none;
  }
}

