* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

#scroll {
  position: relative;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  height: 2rem;
  align-items: center;
}

#scroll p {
  font-weight: 600;
  width: 100%;
  animation: marquee 40s linear infinite;
}

#scroll p:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#title {
  color: white;
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  height: 3em;
  padding-top: 0.5rem;
}

#navbar {
  background-color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 3rem;
}

ul {
  display: flex;
  width: 100%;
  padding-left: 0;
  justify-content: space-around;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: white;
}

main {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),
  url('../resources/club.jpeg');
                    ;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top left ;
  background-attachment: local;
  /*background-color: whitesmoke;*/
  padding-top: 2rem;
}

.subsection {
  display: flex;
}

.title {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

article {
  width: 60%;
  margin: 3rem 6rem;
}

article .content {
   text-align: justify;
   padding-left: 2rem;
}

aside {
  display: flex;
  width: 40%;
  margin-right: 3rem;
  margin-top: 5rem;
}

#fondateur img {
  border: 2px solid white;
  border-radius: 25%;
}
#fondateur blockquote {
 padding-top: 2rem;
 padding-left: 1rem;
}

#fondateur figcaption {
  padding-top: 2rem;
}

#objectifs embed {
  height: 9em;
}

@media only screen and (max-width: 700px) {
  aside {
    display: none;
  }
}

