@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather&family=Titillium+Web&display=swap');

/* General Css */
* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

/* Scroll bar on top of screen */
#scroll {
  position: relative;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  height: 2rem;
  align-items: center;
}

#scroll p {
  font-weight: 600;
  width: 100%;
  animation: marquee 40s linear infinite;
}

#scroll p:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#title {
  color: white;
  background-color: black;
  text-align: center;
  height: 3em;
  padding-top: 0.5rem;
}

h1 {
  font-family: 'Merriweather', serif;
}

/* Navigation Bar */
#navbar {
  background-color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 3rem;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  width: 100%;
  padding-left: 0;
  justify-content: space-around;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 0.2rem 0.5rem;
  border: 1px solid white;
  border-radius: 15px;
  transition-property: background-color color;
  transition-duration: 1s;
}

/* Navigation bar transition on hover*/
#navbar a:hover {
  background-color: white;
  color: black;
}

/* Main content */
main {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),
  url('../resources/club.jpeg');
                    ;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top left ;
  background-attachment: local;
  padding-top: 2rem;
}

.subsection {
  display: flex;
}

.title {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

article {
  width: 60%;
  margin: 3rem 6rem;
}

@media only screen and (max-width:700px) {
 article {
   width: 100%;
   margin: 3rem 2rem;
 } 
}

article .content {
   text-align: justify;
   padding-left: 2rem;
}

aside {
  display: flex;
  width: 40%;
  height:40%;
  margin-right: 3rem;
  margin-top: 17%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 5%;
  background-color: rgba(0,0,0,0.7);
}

blockquote {
 padding-right: 1rem;
 padding-left: 1rem;
 color: white;
}

#fondateur img {
  border: 2px solid white;
  border-radius: 25%;
  width: 7rem;
  margin-left: 1rem;
}

#fondateur blockquote {
  font-family: 'Indie Flower', cursive;
}

#fondateur figcaption {
  padding-top: 1rem;
  color: white;
}

#objectifs embed {
  height: 9em;
}

#objectif blockquote {
  font-size: 0.8rem;
}

@media only screen and (max-width: 700px) {
  aside {
    display: none;
  }
}

/* Club Page */
#club {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto ;
  padding-bottom: 2rem;
  border-bottom: 5px double black;
  width: 90%;
}

@media only screen and (max-width: 700px) {
  #club {
    flex-direction: column;
  }
  #prof {
    margin-top: 2rem;
    margin-bottom: 2rem
  }
}

#cours {
  display: flex;
  border-bottom: 5px double black;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-around;
}

#horaires {
  height:fit-content;
  margin-top: 6rem;
}

#horaires, #tarifs {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  width: 25%;
}

#enfants {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 700px) {
  #cours {
    flex-direction: column;
  }

  #horaires, #tarifs {
    width: 80%;
    margin-top: 0;
  }
  
  #enfants {
    font-size: small;
  }
}

#manuel {
  margin: 0 auto;
  width: 60%;
}

#manuel h3 {
  margin: 2rem;
  text-decoration: underline;
}

#manuel p {
  line-height: 1.8;
}

#manuel a {
  color: black;
  font-weight: 700;
}

@media only screen and (max-width: 700px) {
  #manuel {
    width: 80%;
  }
  #manuel p {
    line-height: normal;
  }
}

/* Footer */
footer {
  background-color: black;
  color: white;
}

address {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adresse {
  width: 33%;
}

#contact {
  letter-spacing: 1rem;
  width: 33%;
}

@media only screen and (max-width: 700px) {
  #contact {

    font-size: 0.8rem;
  }
  
  #adresse {
    font-size: 0.8rem;
    width: 40%;
  } 
  
  #mentions {
    /*display: none;*/
    font-size: 0.8rem;
  }
}

#mentions {
  align-self: flex-end;
  font-size: smaller;
}

#mentions a {
  color: white;
}

address img {
  width: 3rem;
  height: auto;
}

#phone {
  width: 1.2rem;
  height: auto;
  padding-bottom: 0.9rem;
}